:root {
  --horizontal-grid-gap : 6px;
  --vertical-grid-gap : 2px;
  --resume-horizontal-grid-gap : 1px;
  --resume-vertical-grid-gap : 2px;

  --frontPage-horizontal-grid-gap : 6px;
  --frontPage-vertical-grid-gap : 12px;

  --gap-small-format : var(--horizontal-grid-gap) var(--vertical-grid-gap);
  --gap-large-format : var(--horizontal-grid-gap) var(--vertical-grid-gap);

  --gap-background : linear-gradient(90deg, rgb(67, 67, 67) 0%, rgb(38, 38, 38) 50%, rgb(99, 98, 97) 100%);
  --sidebar-background : linear-gradient(90deg, rgb(152, 139, 139) 0%, rgb(167, 159, 159) 50%, rgb(186, 177, 177) 100%);
  --name-background  : linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(138, 129, 129) 100%); 
 
  --condensed-format-left-column : 115px ;
  --large-format-left-column : 185px;

  --condensed-format-column-layout : var(--condensed-format-left-column) 1fr;

  --navigation-button-color : #218cb3;
  --navigation-button-toggle-on-color : #0c3545;

  --arrow-color : white;
  --highLight-color: rgba(95, 158, 160, 0.393);
  --side-bar-color :  rgb(154, 141, 141);
  --employer-name-background : rgba(100, 155, 160, 0.3);
  --arrow-hover-color : white;
  --arrow-z-index : 5;
  --angle45Degrees: -45deg;
  --gradient-01  :linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --gradient-02  :linear-gradient(-45deg, #848484, #414141, #23a6d5, #23d5ab);
  --gradient-03  :linear-gradient(-45deg, rgba(132, 132, 132, .3), rgba(65, 65, 65, .5), rgba(35, 166, 213, .5), rgba(35, 213, 171, .5));
  --gradient-04  :linear-gradient(-45deg, rgba(132, 132, 132, .3), rgba(65, 65, 65, .5), rgba(35, 166, 213, .5), rgba(35, 213, 171, .5));
  --gradient-05  :linear-gradient(135deg, #3e3e3e, #414141, #76b7ce, #116753);
  --gradient-06 :linear-gradient(180deg, #23a6d5,#23a5d500);
  --navigation-color-01 : #12566f;

  --left-space : 20px;
  --left-column : var(--large-format-left-column);
  --left-tile-width : calc(var(--left-space) + var(--left-column));

  --right-tile-width : calc(100vw - var(--left-tile-width) - var(--scrollbar-width) - 2px + var(--right-margin));
  --right-tile-width : calc(100vw - var(--left-tile-width)  + var(--right-margin));

  --top-tile-height : 128px;

  --top-margin : 20px;
  --right-margin : 20px;
  --left-margin : 20px;

  --top-row-height : calc(var(--top-tile-height) - var(--top-margin));
  --bottom-row-height : calc(100vh - var(--top-row-height) - var(--horizontal-grid-gap));
  --bottom-row-height : calc(100vh - var(--top-row-height) );
  --bottom-row-height : calc(100vh - var(--top-tile-height) - var(--horizontal-grid-gap));
  --scrollbar-width : 10px;
  --page-full-left-margin : calc(var(--left-space) + var(--left-margin) );
  --page-innerwidth : calc( 100vw - var(--left-margin) - var(--right-margin) );
  --page-full-width : calc( 100vw - var(--left-space) - var(--left-space) - 8px );
  --page-left-width : calc(var(--left-column) - var(--left-margin) );
  --page-right-width : calc(var(--page-innerwidth) - var(--page-left-width)  - var(--vertical-grid-gap) );

  --user-scroll-distance : 0px;
  --navigation-button-offset : 0px;
}

html, body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  max-width: 100%;
  /* background-color: red; */
}


body.disable-selection{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.disable-selection:hover{
  background: #12566f;
}

#bottomRightTile{
  pointer-events: none;
  position: fixed;
  display: flex;

  /* background:var(--gradient-04); */
  background: rgb(116, 116, 116);

  background-image: var(--gradient-04);
  width: var(--right-tile-width);
  margin-left: calc( var(--left-tile-width) + 2px);
  margin-top: calc(var(--top-tile-height) + 8px);
  height: var(--bottom-row-height);
  padding: auto;
}



#bottomRightTile.hide{
  visibility: hidden; 
}

iframe{
  border: none;
}

#bottomLeftTile{
  position: fixed;
  left: var(--page-full-left-margin);
  width:var(--page-left-width);
  height: var(--bottom-row-height);
  top: calc(var(--top-tile-height) + var(--horizontal-grid-gap))  ;
}

#bottomLeftTile.show{
  animation-name: animateSlideFromBottom;
  animation-duration: .2s;
}

@keyframes animateSlideFromBottom {
  0%   {
    transform: translateY(100vh)
  }
} 

#bottomLeftTile.hide{
  animation-name: animateSlideToBottom;
  animation-duration: .2s;
  visibility: hidden;
}

@keyframes animateSlideToBottom {
  0%{
    visibility: visible;
  }
  100%   {
    transform: translateY(100vh)
  }
} 



/** CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #848484; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

#backgroundImageContainer{
  position: fixed;
  width: 100vw;
  height : calc( 100vh - var(--top-margin)) ;
  /* margin-left : calc( var(--left-space) + var(--left-margin)) ; */
  margin-left : var(--left-margin) ;
  margin-top : calc(var(--top-tile-height) - var(--user-scroll-distance));
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

#backgroundImageContainer img{
  opacity: .3;
  /* object-fit: cover;
  height: 100%; */
  object-position: -20px 100%; 
  bottom: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;

}

#backgroundImageContainer.resume > img{
  opacity: .1;
}

#splashContainer{
  position:relative;
  height: var(--top-row-height);
  width : var(--left-tile-width);
  background-image: var(--gradient-02);
  position: fixed;
  left: 0;
  top: calc(var(--top-margin) - var(--user-scroll-distance) );
  resize: both;
  z-index: 0;
  color:white;
  text-align: right;
  /* opacity: .6; */
  z-index: 1;
}

#title{
  position: absolute;
  bottom: 0px;
  right: 0;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  opacity: .7;
  pointer-events: none;
}

#title{
  font-weight:lighter;
}

#title.hide{
  opacity: .1;
  font-size: 40px;
}

.buttonLabel{
  position: relative;
  display: flex;
  flex-direction: column;
  color:var(--navigation-button-color);
  background: rgb(255, 255, 255);
  top:12px;
  padding-left: 4px;
  padding-right: 4px;
  width: auto;
  height:20px;
  z-index: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.buttonLabel.hide { 
  visibility: hidden;
}

.underline{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--navigation-button-color);
  left:0;
  top:0;
}

.buttonLabel p{
  margin-top: 1px;
}

.circleButton{
  min-width: 30px;
  height:30px;
  background: var(--navigation-button-color);
  border-radius: 50%;
  text-align: center;
  color: #f1f1f1;
  border: solid 1px var(--navigation-button-color);
}

.circleButton i{
  position: relative;
  top: 6px;
  left: -1px;
  z-index: 2;
}

@keyframes animateSlideNavigationButtonFromLeft {
  0%   {
    transform: translateX(-100px)
  }
  50%   {
    transform: translateX(-100px)
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.portfolioWindow{
  position: fixed;
  /** RED */

  z-index: 2;
  top: calc(var(--top-tile-height) + 8px - 75px)  ;

  padding-top: 85px;
  padding-left: auto;
  padding-right: auto;
  left : 45px;
  opacity: 1;
  background: white;
  z-index: 0;
  /* overflow:auto; */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc( var(--bottom-row-height) + 0px );
  /* width: calc( 100vw - 500px );
  border: solid red; */
  /* padding-bottom: 150px; */
}
/* 
#bottomRightTile{
  opacity: .6;
} */

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  /* border: solid red; */
}


#archPortfolio{
  overflow-y: scroll;
} 

#techPortfolio{
  overflow-y: scroll;
} 

#techPortfolio:hover{
  cursor: var(--cursor);
}

.portfolioWindow.show{
  width: calc(100vw - 45px);
  animation-name: animateSlideFromRight;
  animation-duration: .3s;
}
@keyframes animateSlideFromRight {
  0%   {
    width: 50px;
  }
}

.portfolioWindow.hide{
  transform: translateX(100vw);
  visibility: hidden;
}

@keyframes animateSlideToRight {
  0%{
    visibility: visible;
  }
  100%   {
    transform: translateX(100vw)
  }
}

.splashLine{
  background: black;
  opacity: .7;
}

#horizontalLine{
  position: fixed;
  top: calc(var(--top-tile-height) - var(--user-scroll-distance));
  width:100vw;
  height: 8px;
  z-index: 1;
}



#horizontalLine.hide{
  visibility: hidden;
}

#verticalLine{
  pointer-events: none;
  position: fixed;
  left:var(--left-tile-width);
  width: var(--vertical-grid-gap);
  height:100vh;
  z-index: 1;
}
#verticalLine.hide{
  visibility: hidden;
}

#verticalLine.clear-bottom{
 /* background-color: red; */
 height:var(--top-tile-height);
 /* color:red;
 visibility: hidden; */
}

#summaryToggleExpandContainer{
  display: none;
}

.shadowEffect {
  height: 12px;
  width: 100vw;
  position: absolute;
  left: 0;
  pointer-events: none;
  opacity: .3;
  border-bottom: solid 1px; 
  background-image: linear-gradient(to top, rgba(0, 0, 0, .5)20%,  rgba(0, 0, 0, 0)90% , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.page {
  background: var(--gap-background);
  max-width: 800px;
  display: none;
  visibility: hidden;

  z-index: 1;
}

.page.show{
  visibility: visible;
  margin: auto;
  margin-left: 20px;
}

#profesionalExperiencePageRight{
  padding-bottom: 20px;
  padding-right: 10px;
}

#constructionExperiencePageRight{
  padding-bottom: 74px;

}

#notablePageRight{
  padding-top: 5px;
}
#honorsPageRight{
  padding-top: 5px;

}

.cell.rightMargin{
  padding-right: 10px;
}
.print-space-block-left{
  height: 60px;
}

.print-space-block-right{
  height: 60px;
  overflow: hidden;
  background: white;
}

#splashImage{
  width: 100%;
  height: auto;
  object-fit: cover;
}

@keyframes animatePageShow {
  0%   {
    gap: var(--frontPage-horizontal-grid-gap) var(--frontPage-vertical-grid-gap);
  }
  50%   {
    gap: var(--frontPage-horizontal-grid-gap) var(--frontPage-vertical-grid-gap);
  }
  100%   {
    gap: var(--resume-horizontal-grid-gap) var(--resume-vertical-grid-gap);
  }
}

.frontPage.hide{
  visibility: hidden;
}

#page1 {
  display: grid;
  width: auto;
  grid-template-columns: var(--large-format-left-column) 1fr;
  grid-template-rows: 128px auto auto auto 1fr;
  gap: var(--resume-horizontal-grid-gap) var(--resume-vertical-grid-gap);
}

.cell {
  background-color: white;
  overflow: hidden;
}

.topMargin {
  padding-top: 20px;
}
.bottomMargin {
  padding-bottom: 20px;
}

.leftMargin {
  padding-left: 20px;
  margin-left: 1px;
}

.rightMargin {
  padding-right: 20px;
  margin-right: 1px;
}

.rightMargin {
  padding-right: 20px;
  margin-right: 1px;
}

#address {
  font-size: small;
  text-align: right;
  margin-right: .2em;
  height: 100%;
  color: rgb(69, 69, 69);
}

#heading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

#heading > img{
  opacity: .7;
  width : var(--page-right-width);
  width : calc(100% + 10px);
}

#topRightTile{
  background: #f1f1f1;
  position: fixed;
  height: var(--top-row-height);
  width: calc(var(--right-tile-width) + var(--right-margin));
  z-index: 2;
  left : calc(var(--left-tile-width) + var(--vertical-grid-gap) );
  top : calc(var(--top-margin) - var(--user-scroll-distance));
  overflow: hidden;
}

#topRightTile.resume{
  left : calc(var(--left-tile-width) + var(--resume-vertical-grid-gap) );
  animation-name: animateHeadingPictureAdjust;
  animation-duration: .3s;
}

@keyframes animateHeadingPictureAdjust {
  0%   {
    left : calc(var(--left-tile-width) + var(--frontPage-vertical-grid-gap) );
  }
  50%   {
    left : calc(var(--left-tile-width) + var(--frontPage-vertical-grid-gap) );
  }
}

#topRightTile.hide{
  visibility: hidden;
}

#topRightTile img{
  position: relative;
  object-fit: cover;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;

  margin-top: auto;
  margin-bottom: auto;
  opacity: .7;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  animation-name: animateFocusBlur;
  animation-duration: 1.5s;
}

@keyframes animateFocusBlur {
  0%   {
    filter: none;
    -webkit-filter: none;
  }
}
 
#skillsList{
  max-width: 500px;
  margin-right :30px;
}

img {
  /* width: 100%;
  height: auto;
  object-fit: cover; */
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#sample2 {
  display: none;
  height: 50px;
  overflow: hidden;
}

#sample2 img {
  margin-top: -200px;
  width: 100%;
  object-position: 10% -260px;
  object-position: left bottom;
}

.leftSideBar {
  background: var(--sidebar-background);
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.subjectLabel {
  position: relative;
  color: white;
  margin-left: .5em;
  padding-top: 1em;
}

#contactLabel {
  margin-bottom: 0;
  display: none;
}

#contactShow {
  display: none;
}


.textContent {
  margin-left: 1em;
}

.listItem {
  margin-bottom: .5em;
}

li {
  margin-left: -10px; 
}

.space {
  opacity: 0;
}

.addressText {
  margin: 0%;
  font-size: small;
  text-align: right;
  margin-right: .1em;
  height: 100%;
  color: rgb(67, 67, 67);
  white-space: nowrap;
  z-index: 1;
  opacity: inherit;
}

#addressContainer {
  height: auto;
  border: none;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  padding-top: 24px;
}

#addressContainer.show{
  position: fixed;
  visibility: visible;
  top: calc(var(--top-tile-height) - var(--user-scroll-distance) + 8px );
  left: calc(var(--left-column) + var(--left-margin) + 2px);
  background: rgba(255, 255, 255, 1);
  width: 175px;
  height: calc(5 * 1em);
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  z-index: 2;
  animation-name: animateShow;
  animation-duration: 0.2s;
  overflow: hidden;
  padding: 5px;
  animation-name: animateExpandShow;
  animation-duration: .1s;
}

#addressContainer.show > .addressText{
  text-align: left;
}

#addressContainer.hide{
  visibility: hidden;
}

#addressContainer a{
  color: rgb(67, 67, 67);

}

@keyframes animateExpandShow {
  0%   {
    width: 10px;
    height: 10px;
  }
}

#nameContainer {
  position: absolute;
  margin-top: -18px;
  width: 355px;
  background-color: rgba(70, 90, 106, .6);
  text-align: right;
  font-size: larger;
  z-index: 2;
  pointer-events: none;
}

.myName {
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  color: white;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: larger;
  margin-right: 5px;
  margin: 0;
  min-height: 23px;
  justify-self: right;
  animation-name: animateFocus;
  animation-duration: 1s;
  text-shadow: 1px 1px 2px black, 0 0 25px var(--navigation-button-color), 0 0 5px;
  user-select: none;
}

.myName.no-shadow{
  text-shadow: none;
  /* background: rgba(255, 255, 255, 0.372); */
  /* color: rgba(0, 0, 0, 0.9); */
}

#myName:hover{
  text-shadow: 1px 1px 2px gray, 0 0 25px white, 0 0 5px;
}

@keyframes animateFocus {
  0%   {
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}

#addressSlideOut{
  position: absolute;
  top: .5em;
  width: auto;
  height: auto;
  background: white;
}

#githubContainer {
  color: black;
  width: 100%;
  min-height: 23px;
  background: var(--name-background);
  pointer-events: auto;
  padding-right: 5px;
}

#githubURL  {
  color: black;
}

.addressText a :hover {
  color: aliceblue;
}

#gitHubLink:hover {
  color: aliceblue;
  z-index: 22;
}

#githubURL:hover~#nameContainer {
  background-color: rgba(70, 90, 106, .2);
}

#githubURL:hover~#myName {
  color: black;
  background-color: rgba(70, 90, 106, .6);
}

#page2 {
  display: grid;
  width: auto;
  grid-template-columns: var(--large-format-left-column) 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: var(--resume-horizontal-grid-gap) var(--resume-vertical-grid-gap);
  margin-bottom: 30px;
  background: var(--gap-background);
  border-bottom: solid 1px;
}

.cell {
  background-color: white;
}

.employer {
  margin-bottom: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employerName {
  width: 40%;
  background-color: var(--employer-name-background);
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 0;
}

.jobTitle {
  text-align: right;
}

.role {
  margin-top: 0;
  margin-bottom: 0;
}

.portfolioList{
  font-size: smaller;
  color: black;
  z-index: 1;
}

.portfolioList a{
  color: black;
}

#portfolioBackground{
  position: absolute;
  bottom: -300px;
  opacity: .4;
}

#topRightBanner3{
  overflow: hidden;
  /* background: red; */
}

#topBanner3{
  /* opacity: .4;
  position: absolute; */
  opacity: .4;
  width: 100vw;
  width : 800px;
  /* width: var(--page-right-width); */
  margin-top: -180px;
  margin-left: -100px;
}

.arrowContainer {
   height: 1em;
}

.fa-arrow-up {
  color: var(--arrow-color);
  margin: auto;
  position: absolute;
  left: calc( var(--large-format-left-column) - 1em);
  animation-name: animateArrowMoveUp;
  animation-duration: 0.5s;
  -webkit-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY( 1em);
}



.fa-file-pdf{
  color: var(--arrow-color);
  margin: auto;
  position: fixed;
  top : calc(105px - var(--user-scroll-distance));
  cursor: pointer;
}

.fa-file-pdf.show{
  visibility: visible;
  left : 100px;
  animation-name: animateButtonShow;
  animation-duration: .3s;
  cursor: pointer;
}
.fa-file-pdf:hover{
  font-size: larger;
}


@keyframes animateButtonShow {
  0%   {
    left:0;
  }
  50%   {
    left:0;
  }

  100% {
  }
}

.fa-arrow-up ~ .arrowContainer {
  border-bottom: dashed 1px black;
}

@keyframes animateArrowMoveUp {
  0%   {
    -webkit-transform:  rotate(180deg) ;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg) ;
  }

  50%   {
    -webkit-transform: translateY(25px)  ;
    -ms-transform: translateY(25px) ;
    transform: translateY(25px);
  }

  100% {
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
  }
}

.fa-arrow-down {
  color: var(--arrow-color);
  margin: auto;
  animation-name: animateArrowMoveDown;
  animation-duration: 0.5s;
  position: absolute;
  left: calc( var(--large-format-left-column) - 1em);
  z-index: var(--arrow-z-index);
}

@keyframes animateArrowMoveDown {
  0%   {
    -webkit-transform: translateY(1em)  rotate(180deg) ;
    -ms-transform: translateY(1em) rotate(180deg);
    transform: translateY(1em) rotate(180deg) ;
  }
  50%   {
    -webkit-transform: translateY(-5px)  ;
    -ms-transform: translateY(-5px) ;
    transform: translateY(-5px);
  }
  100% {
  }
}

.shiftRight{
  position: absolute;
  margin-left: calc(var(--condensed-format-left-column) - 2em);
  z-index: 2;
  width: 2em;
  -webkit-transform: translateY(-1.25em);
  -ms-transform: translateY(-1.25em);
  transform: translateY(-1.25em);
}

.fa-arrow-right {
  color: var(--arrow-color);
  margin: auto;
  animation-name: animateArrowMoveRight;
  animation-duration: 0.2s;
}

@keyframes animateArrowMoveRight{
  0%   {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform:  scaleX(-1);
  }
  50%   {
  }
  100% {
  }
}

.fa-arrow-left {
  color: white;
  animation-name: animateArrowMoveLeft;
  animation-duration: 0.2s;
  -webkit-transform:  translateX(calc(2px + 1em));
  -ms-transform: translateX(calc(2px + 1em));
  transform: translateX(calc(2px + 1em));
}

@keyframes animateArrowMoveLeft{
  0%   {
    -webkit-transform: translateX(1em) scaleX(-1);
    -ms-transform: translateX(1em)  scaleX(-1);
    transform: translateX(1em) scaleX(-1);
  }

  100% {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
  }
}

.fa-arrow-right:hover {
  color: var(--arrow-hover-color);
  font-size: 18px;
}

.fa-arrow-left:hover {
  color: var(--arrow-hover-color);
  font-size: 18px;
}

.fa-arrow-up:hover {
  color: var(--arrow-hover-color);
  font-size: 18px;
  -webkit-transform: translateY(calc(1em - 3px));
  -ms-transform: translateY(calc(1em - 3px));
  transform: translateY( calc(1em - 3px));
}

.fa-arrow-down:hover {
  color:var(--arrow-hover-color);
  font-size: 19px;
}

/*                      */

#addressScreen {
  position: fixed;
  background: linear-gradient(20deg, rgba(255, 255, 255, .4) 0%, rgba(230, 230, 230, .2) 100%);
  background-image:  linear-gradient(120deg, rgba(255, 255, 255, 0.4) 0%, rgba(230, 230, 230, .2) 100%);
  width: 100vw;
  height: 100vh;
  top: calc(var(--top-tile-height) - var(--user-scroll-distance) + 8px );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 9;
  animation-name: animateShowAddressScreen;
  animation-duration: .5s;
}

@keyframes animateShowAddressScreen{
  0%   {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

#addressScreen.hide {
  visibility: hidden;
  animation-name: animateHideAddressScreen;
  animation-duration: .2s;
}

@keyframes animateHideAddressScreen{
  0%   {
    visibility: visible;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  100%   {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

#addressScreen.show {
  visibility: visible;

}

#addressScreen.show div {
  animation-name: animateExpandShow;
  animation-duration: .1s;
}

#addressScreen div {
  background: linear-gradient(20deg, rgba(255, 255, 255, .7) 0%, rgba(230, 230, 230, .4) 100%);
  background: white;
  width: 150px;
  margin-left :  calc(var(--left-tile-width) + 2px);
  padding: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 4px #88888861;
}

#addressScreen p {
  text-align: left;
}

@media (max-width: 800px) {
  :root{
    --testcolor:blue;
    --page-full-width : 100vw;
  }
  #backgroundImageContainer{
    margin-left : var(--left-margin) ;
  }
}

@media (min-width: 800px) {
 
  .fa-arrow-up {
    margin-left: 20px;
  }
  .fa-arrow-down {
    margin-left: 20px;
  }
  .shadowEffect {
    margin-left: 20px;
    width: 800px;
  }
}

@media (min-width: 950px) {
  .twoColumnList {
    display: flex;
    flex-wrap: wrap;
  }
  .twoColumnList li {
    width: 50%
  }
}

.contactBubble {
  display: none;
}

.hide{
  margin-left: 0px;
}
.show{
  margin-left: 0;
}

@media (max-width: 550px) {
  :root{
    --left-margin : 15px;
    --right-margin : 15px;
    --top-margin : 15px;
    --page-full-width : 100vw;
    --left-tile-width: var(--condensed-format-left-column);
    --top-margin : 15px;
    --left-column : var(--condensed-format-left-column);
    /* --navigation-button-offset : -10px; */
  }

  .navigationButton.toggleOn .navButtonLabel > p{
    font-size: 18px;
  }

  .navigationButton.hide {
    top:-100px ;
  }

  .fa-file-pdf{
    top : calc(90px - var(--user-scroll-distance));
  }

  .fa-arrow-up{
    left: calc( var(--condensed-format-left-column) - 1em);
  }
  .fa-arrow-down{
    left: calc( var(--condensed-format-left-column) - 1em);
  }
  #summaryToggleExpandContainer{
    display: inherit;
  }
  #nameContainer {
    font-size: medium;
    width: 267px;
    top: 127px;
  }

  .navigationButton.toggleOn > .buttonLabel {
    font-size: 19px;
  }

  .buttonLabel {
    width: 70px;
  }

  .contactBubble {
    display: inline;
  }

  #contactLabel {
    display: block;
  }

  #contactShow {
    display: inline;
  }

  #githubContainer {
    color: black;
    width: 100%;
    min-height: 23px;
    background: rgba(100, 0, 0, 0.0);
    pointer-events: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -5px;
  }
  .addressText {
    text-align: left;
    font-size: 12px;
    margin-left: .5em;
  }
  #addressContainer {
    position: absolute;
    top: 18px;

    left: calc(var(--condensed-format-left-column) + 1em);

    background: white;
    width: 150px;
    height: calc(5 * 1em);
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    border-radius: 10px;
    z-index: 2;
  }
  .show{
    margin-left: 0px;
    animation-name: animateShow;
    animation-duration: 0.2s;
    overflow: hidden;
  }

  @keyframes animateShow {
    0%   {
      width : 10px;
      height : 1em;
    }
    100% {
      width : 150px;
    }
  }


  .leftMargin {
    padding-left: 15px;
  }

  #topLeftCell {
    padding-top: 0px;
  }

  .rightMargin {
    padding-right: 15px;
  }

  .topMargin {
    padding-top: 15px;
  }

  #page1 {
    background-color: black;
    margin-left: 0px;
    grid-template-columns: var(--condensed-format-column-layout) ;
  }

  #page2 {
    background-color: black;
    margin-left: 0px;
    grid-template-columns: var(--condensed-format-column-layout);
  }
  #portfolioBackground{
    bottom: -150px;
    width: 600px;
  }
  #topBanner3{
    margin-left : -220px;
  }
}

@media print {
  body {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    /* color: red; */
  }
  .frontPageElement{
    display: none;
  }
  .navigationButton{
    display: none;
  }

  #addressContainer{
    visibility: visible;
    position: relative;
  }

  .addressText{
    visibility: visible;
  }

  .navigationButton{
    visibility: hidden;
  }

  #addressScreen {
    visibility: hidden;
    opacity: 0;
  }

  #backgroundImageContainer{
    margin-left : calc( var(--left-margin)  -5px);
    width: calc( 100vw + 25px);
    height: calc( 100vh + 10px);
    margin-top: 0;
  }

  .print-space-block-left{
    height: 30px;
    visibility: visible;
  }
  .print-space-block-right{
    height: 30px;
    visibility: visible;
  }

  .two-column-list{
    display: flex;
    flex-direction: row;
  }

  .topMargin {
    padding-top: 0;
  }

  .leftMargin {
    padding-left: 0;

  }
  .fa-arrow-up{
    display: none;
  }
  .fa-arrow-down{
    display: none;
  }
  .shadowEffect{
    display: none;
  }
  .role {
    columns: 2;
    -webkit-columns: 2;
    /* -moz-columns: 2; */
  }

  .rightMargin {
    padding-right: 0;
  }

  #addressContainer {
    padding-top: 5px;
  }

  .addressText {
    margin-top: 2px;
    font-size: .70em;
  }

  .twoColumnList {
    columns: 2;
    width : 50vw;
    -webkit-columns: 2;
  }
  .page {
    margin-left: -15px;
  }

  #page1 {
    grid-template-columns: 165px 1fr;
    gap: var(--gap-small-format);
    grid-template-rows: 90px auto auto auto auto;
    margin-left: -5px;
  }

  #page2 {
    margin-top: 60px;
    grid-template-columns: 165px 1fr;
    gap: var(--gap-small-format);
    margin-left: -5px;
  }
  
  .portfolioList a[href]::after {
    content: ' ('  attr(href)   ')';
    color:blue;
  }
}

