.navigationButton{
  position: fixed;
  left: 0;
  display: flex;
  overflow: visible;
  /* margin-left: var(--navigation-button-offset); */
  /* animation-name: animateRollout2;
  animation-duration: .1s; */
}

@keyframes animateRollout2 {
  0%   {
    margin-left: -200px;
  }
  75%   {
    margin-left: 50px;
  }
}



.navigationButton > .circleButton{
  position: absolute;
  left: 3px;
  z-index: 2;
  /* animation-name: animateRollout3;
  animation-duration: 1s; */
}

.navigationButton > .circleButton.first{

  animation-name: animateRollout3;
  animation-duration: .3s;
}

.navigationButton > .circleButton.second{

  animation-name: animateRollout3;
  animation-duration: .6s;
}

.navigationButton > .circleButton.third{

  animation-name: animateRollout3;
  animation-duration: .9s;
}

@keyframes animateRollout3 {
  0%   {
    margin-left: -300px;
  }
  75%   {
    margin-left: 5px;
  }
}

.navigationButton:hover > div > i{
  font-size: 1.2em;  
}

.navigationButton:hover > .circleButton{
  background: #0c3545;
}
.navigationButton:hover > div > p{
  color: white;
}
.navigationButton:hover > .navButtonLabel{
  background: #2199c4;
}

.navButtonLabel{
  text-align: right;
  background: #e3e3e3a8;
  /* background: rgba(255, 255, 255, 0.427); */
  /* color : gray; */
  position: absolute;
  margin: 0;
  height: 36px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: calc( var(--left-tile-width) + calc(var(--navigation-button-offset) * -1 - 1px))  ;
  width: var(--left-tile-width) ;
  top: -3px;
  border: solid 1px #0c3545;
  /* border: solid 2px #ffffff; */
  z-index: 0;
  animation-name: animateLabelFadeIn;
  animation-duration: 2s;
  
}

.navButtonLabel .rollout{
  animation-name: animateRollout;
  animation-duration: .3s;
}

@keyframes animateRollout {
  0%   {
    margin-left: -200px;
  }
}

@keyframes animateLabelFadeIn {
  0%   {
    opacity: 0;
  }
}

.navButtonLabel > p{
  position: absolute;
  bottom:9px;
  right: 0;
  margin: 0;
  margin-right: 5px;
  color: #13536a;
  color : gray;
  /* width  */
  width: 190px;
}

.navigationButton.toggleOn {
  animation-name: animateSlideNavButtonFromLeft;
  animation-duration: .3s;
  z-index: 10;
  /* margin-left: var(--navigation-button-offset);
  margin-left: -10px; */
  /* margin-left: 20px;  */
  pointer-events: none;
}

.navigationButton.toggleOn > .circleButton {
  animation-name: animateSlideNavButtonFromLeft;
  animation-duration: .5s;
}

@keyframes animateSlideNavButtonFromLeft {
  0%   {
    margin-left: -100px;
  }
}

.navigationButton.toggleOn .navButtonLabel {
  position: fixed;
  top: calc(100px - var(--user-scroll-distance));
  background: none;
  font-size: 20px;
  text-align: right;
  border: none;
}

.navButtonLabel.grayOut > p{
  opacity: .1;
}

.navigationButton.toggleOn .circleButton{
  position: fixed;
  top : calc( 113px - var(--user-scroll-distance));
  /* margin-left: var(--navigation-button-offset); */
  left:0;
  border: solid #3e3e3e;
} 

.navigationButton.toggleOn .navButtonLabel > p{
  color:white;
  text-align: right; 
  /* width :  100%; */
  width : 130px;
  /* left: -2px; */
  /* background: red; */
}

.navigationButton.hideLabel > .navButtonLabel {
  visibility: hidden;
  animation-name: animateHideLabel;
  animation-duration: .3s;
}

@keyframes animateHideLabel {
  0%   {
    visibility: visible;
  }
  50%   {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: var(--navigation-button-offset);
    color: rgba(0, 0, 0, 0);
  }
  100%   {
    color: rgba(0, 0, 0, 0);
    visibility: visible;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 36px;
    opacity: 0;
  }
}

.navigationButton.hideLabel:hover > .navButtonLabel {
  visibility: visible;
}

.navigationButton.toggleShowAddress .navButtonLabel {
  position: fixed;
  top: calc( var(--top-row-height) - 17px - var(--user-scroll-distance));
  top: 0px;
  background: none;
  color: white;
  text-align: right;
  border: none;
  z-index: 200;
}

.navigationButton.toggleShowAddress .navButtonLabel > p{
  color:white;
  text-align: right; 
  width :  100%;
  left: -2px;
}

.navigationButton.toggleShowAddress .circleButton{
  position: fixed;
  top : 4px;
  left:0;
  border: solid #3e3e3e;
} 

#exitButton.hide{
  visibility: hidden;
}

#resumeButton{
  top:calc(200px - var(--user-scroll-distance));
}

#archButton{
  top:calc(300px - var(--user-scroll-distance));
}

#techButton{
  top:calc(400px - var(--user-scroll-distance));
}

#contactButton{
  top:-100px;
}

.zeroButton{top:-100px}

.firstButton{top:calc(200px - var(--user-scroll-distance));}

.secondButton{ top:calc(300px - var(--user-scroll-distance));}

.thirdButton{top:calc(400px - var(--user-scroll-distance));}

.forthButton{ top:calc(500px - var(--user-scroll-distance));}


#exitButton:hover  > .navButtonLabel{
  visibility: hidden;
}

#exitButton.navButtonLabel{
  visibility: hidden;
}

#exitButton.toggleOn {
  visibility: hidden;
}

#exitButton > .circleButton > p{
  margin-top:2px; 
  color:#12566f;
  user-select: none;
}

#exitButton > .circleButton {

  color:#12566f;
  background: none;

}

#exitButton:hover > .circleButton{
  background:#0c3545;
  color: white;
}

#exitButton:hover  > .circleButton > p{
  color: white;
}

@media (max-width: 550px) {
  .navigationButton {
    margin-left: var(--navigation-button-offset);
  }

  .navigationButton .navButtonLabel > p{
    width : 90px;
  }
  #archButton .navButtonLabel > p span {
    display:none;
  }

  #archButton .navButtonLabel > p:before {
    content:"Arch Portfolio";
  }

  #archButton .navButtonLabel > p {
    bottom: 0;
  }

  #techButton .navButtonLabel > p {
    bottom: 0;
  }

  #techButton.toggleOn .navButtonLabel > p {
    width : 90px;
    bottom: 10px;
  }

  #archButton.toggleOn .navButtonLabel > p {
    width : 90px;
    bottom: 10px;
  }

}