.navigationButton{
  position: fixed;
  left: 0;
  display: flex;
  overflow: visible;
  margin-left: var(--navigation-button-offset);
}
.navigationButton > .circleButton{
  position: absolute;
  left: 3px;
  z-index: 2;
}

.navigationButton:hover > div > i{
  font-size: 1.2em;  
}

.navigationButton:hover > .circleButton{
  background: #0c3545;
}
.navigationButton:hover > div > p{
  color: white;
}
.navigationButton:hover > .navButtonLabel{
  background: #2199c4;
}

.navButtonLabel{
  text-align: right;
  background: #12566f93;
  background: rgba(255, 255, 255, 0.427);
  position: absolute;
  margin: 0;
  height: 36px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  width: calc( var(--left-tile-width) + calc(var(--navigation-button-offset) * -1))  ;
  top: -3px;
  border: solid 1px #0c3545;
  border: solid 1px #12566f;
  z-index: 0;
  animation-name: animateRollout;
  animation-duration: .3s;
}

.navButtonLabel .rollout{
  animation-name: animateRollout;
  animation-duration: .3s;
}

@keyframes animateRollout {
  0%   {
    margin-left: -200px;
  }
}

.navButtonLabel > p{
  position: absolute;
  bottom:-1px;
  right: 0;
  margin: 0;
  margin-right: 5px;
  color: #13536a;
  width: 90px;
}

.navigationButton.toggleOn {
  animation-name: animateSlideNavButtonFromLeft;
  animation-duration: .3s;
  z-index: 10;
  margin-left: var(--navigation-button-offset);
  margin-left: -10px;
}

.navigationButton.toggleOn > .circleButton {
  animation-name: animateSlideNavButtonFromLeft;
  animation-duration: .5s;
}

@keyframes animateSlideNavButtonFromLeft {
  0%   {
    margin-left: -100px;
  }
}

.navigationButton.toggleOn .navButtonLabel {
  position: fixed;
  top: calc(90px - var(--user-scroll-distance));
  background: none;
  font-size: 20px;
  text-align: right;
  border: none;
}

.navButtonLabel.grayOut > p{
  opacity: .1;
}

.navigationButton.toggleOn .circleButton{
  position: fixed;
  top : calc( 113px - var(--user-scroll-distance));
  margin-left: var(--navigation-button-offset);
  left:0;
  border: solid #3e3e3e;
} 

.navigationButton.toggleOn .navButtonLabel > p{
  color:white;
  text-align: right; 
  width :  100%;
  left: -2px;
}

.navigationButton.hideLabel > .navButtonLabel {
  visibility: hidden;
  animation-name: animateHideLabel;
  animation-duration: .3s;
}

@keyframes animateHideLabel {
  0%   {
    visibility: visible;
  }
  50%   {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-left: var(--navigation-button-offset);
    color: rgba(0, 0, 0, 0);
  }
  100%   {
    color: rgba(0, 0, 0, 0);
    visibility: visible;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 36px;
  }
}

.navigationButton.hideLabel:hover > .navButtonLabel {
  visibility: visible;
}




.navigationButton.toggleShowAddress .navButtonLabel {
  position: fixed;
  top: calc( var(--top-row-height) - 17px - var(--user-scroll-distance));
  top: 0px;
  background: none;
  color: white;
  text-align: right;
  border: none;
  z-index: 200;
}

.navigationButton.toggleShowAddress .navButtonLabel > p{
  color:white;
  text-align: right; 
  width :  100%;
  left: -2px;
}

.navigationButton.toggleShowAddress .circleButton{
  position: fixed;
  top : 4px;
  left:0;
  border: solid #3e3e3e;
} 

#exitButton.hide{
  visibility: hidden;
}

#resumeButton{
  top:calc(200px - var(--user-scroll-distance));
}

#archButton{
  top:calc(300px - var(--user-scroll-distance));
}

#techButton{
  top:calc(400px - var(--user-scroll-distance));
}

#contactButton{
  top:-100px;
}


.zeroButton{top:-100px}

.firstButton{top:calc(200px - var(--user-scroll-distance));}

.secondButton{ top:calc(300px - var(--user-scroll-distance));}

.thirdButton{top:calc(400px - var(--user-scroll-distance));}

.forthButton{ top:calc(500px - var(--user-scroll-distance));}