:root {
  --portfolio-Grid-Container-width: calc(100vw - var(--page-left-width) - 60px);
  --portfolio-Grid-Container-height: calc(100vw - var(--page-left-width) - 40px);
  --ht-unit: calc(var(--portfolio-Grid-Container-height) / 12);
  --ht-unit-550px: calc(550px / 12);
  --column-count: 4;
  --cell-width: calc(calc(var(--portfolio-Grid-Container-width) - var(--grid-gap) - calc(calc(var(--column-count) - 1)) * var(--grid-gap)) / var(--column-count));
  --grid-gap: 5px;
  --grid-gap-horizontal: 10px;
}

.ht1 {
  overflow: hidden;
  grid-row-end: span 1;
}

.ht2 {
  overflow: hidden;
  grid-row-end: span 2;
}

.ht3 {
  overflow: hidden;
  grid-row-end: span 3;
}

.ht4 {
  overflow: hidden;
  grid-row-end: span 4;
}

.ht5 {
  overflow: hidden;
  grid-row-end: span 5;
}

.ht6 {
  grid-row-end: span 6;
}

.portFolioGridContainer {
  display: grid;
  max-width: 1000px;
  width: var(--portfolio-Grid-Container-width);
  height: var(--portfolio-Grid-Container-width);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: var(--grid-gap);

  grid-row-gap: var(--grid-gap-horizontal);
  cursor: grab;
  margin: 0 auto;
  margin-bottom: 150px;
  font-size: small;
}



.cellItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(183, 183, 183);
  pointer-events: all;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.602);
  transform: scaleX(1.001) scaleY(1.001);
}

.cellItem>div {
  background: rgba(255, 255, 255, 0.802);
  user-select: none;
  border: solid 1px rgba(31, 31, 31, 0.1);
}

.cellItem.enlarged {
  transform: scaleX(3) scaleY(3);
}

.portfolio-image {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}



.project-info{
  width: calc( var(--cell-width) - 1px);
  position: absolute; 
  position: fixed; 
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cellItem:hover {
  -webkit-box-shadow: 0 0 10px rgb(176, 176, 176);
  box-shadow: 0 0 10px rgb(106, 105, 105);
  border: solid 1px;
}


@media (min-width: 1237px) {
  :root {
    --portfolio-Grid-Container-width: 1000px;
    --portfolio-Grid-Container-height: 1000px;
  }
}

@media (max-width: 1000px) {
  :root {
    --portfolio-Grid-Container-height: calc(var(--portfolio-Grid-Container-width) * 1.33);
    --portfolio-Grid-Container-height: calc(var(--portfolio-Grid-Container-width) * 2);
    --column-count: 3;
  }

  .portFolioGridContainer {
    grid-template-columns: repeat(3, 1fr);
    height: var(--portfolio-Grid-Container-height)
  }

  .cellItem>div {
    font-size: smaller;
  }
  .ht2>img {
    height: 69px;
  }
  .ht3>img {
    height: 160px;
  }
  .ht4>img {
    height: 170px;
  }
}


@media (max-width: 800px) {
  .ht2>img {
    height: 69px;
  }
  .ht3>img {
    height: 160px;
  }
  .ht4>img {
    height: 170px;
  }
}

@media (max-width: 650px) {
  :root {
    --portfolio-Grid-Container-height: calc(var(--portfolio-Grid-Container-width) * 2.66);
    --portfolio-Grid-Container-height: calc(var(--portfolio-Grid-Container-width) * 3);
    --column-count: 2;
  }
  .portFolioGridContainer {
    grid-template-columns: repeat(2, 1fr);
    height: var(--portfolio-Grid-Container-height)
  }

  .cellItem>div {
    font-size: smaller;
  }
  .ht3>img {
    min-height: 160px;
  }
}

@media (max-width: 500px) {
  :root {
    --portfolio-Grid-Container-height: calc(var(--portfolio-Grid-Container-width) * 1);
    --column-count: 1;
  }

  .portFolioGridContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    margin-left : auto;
    margin-right : auto;
  }
 
  .cellItem {
    width: 200px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .cellItem.ht1{
    min-height: 70px;
  }
  .cellItem.ht2{
    min-height: 100px;
  }
  .cellItem.ht3{
    min-height: 150px;
  }
  .cellItem.ht4{
    min-height: 200px;
  }
  .cellItem>div {
    width: 200px;
  }
  .ht1>img {
    height: 55px;
  }
}




/* #chipotleSantaBarbaraCell{
  display: flex;
  flex-direction: row;
  border: none;
  flex-grow: 3;
  z-index: 0;
  background: black;
}

#chipotleSantaBarbaraCell > img{
  max-height: 200px;
  margin-right: 2px;
  object-fit: cover;
  min-height: 100%;
  vertical-align: bottom;
}

#chipotleSantaBarbaraCell  > img:first-child{
  min-width : 150px; 
} */

#hopeStreetLoftsImg{
  object-position: 100% 0; 
}
#UniqloImg{
  object-position: 100% 0; 
}

#SantaFeImg{
  object-position: 0 80%;
}


.slideShow{
  /* width : 400px; */
  margin-right: -50px;
  margin-left: -50px;
  margin-bottom : -100px;
  padding: 20px;
  background: white;
}

.slideViewer{
  position: fixed;
  bottom: 0;
  /* width: 200px; */
  /* height : 200px; */
  background: white;
  z-index: 20;
  /* width: 90%; */
  width : calc(100vw - 100px);
  max-width: 500px;
  /* max-width: 400px; */
  /* margin: 0px 10px auto 40px; */
  /* margin: auto auto auto 50px; */

  padding: 20px;
}

.slideViewer > img{
  /* min-height: 900px; */
  max-height: calc(100vh - 90px);
  /* max-height: 400px; */
}