.splashSubjectContainer {
  height: 500px;
  align-content: center;
  background: rgba(255, 255, 255, 0.111);
  border-radius: 20px;
  margin: 10px;
}

#techSplashContainer {
  height: 500px;
  align-content: center;
  background: rgba(255, 255, 255, 0.111);
  border-radius: 20px;
}

#mechanizedInkDisplayScreen {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  border: solid 1px #76b7ce;
  background: #41414131;
}

.subject-display {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  border: solid 1px #76b7ce;
  background: #41414131;
  /* margin-left: 20px;
  margin-right: 20px; */
  overflow: hidden;
  cursor: default;
}

.subject-display>img {
  width: 300px;
  position: absolute;
  bottom: 0;
  overflow: hidden;



}

.subject-display2 {
  pointer-events: all;
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  /* border: solid 1px #76b7ce; */
  /* background: #41414131; */
  /* margin-left: 20px;
  margin-right: 20px; */
  overflow: hidden;
  background: white;
  cursor: grab;
  /* transform: translateY(-400px); */
}

.subject-display2>img {
  width: 600px;
  position: absolute;
  top: 0;
  /* margin-top: -150px;
  margin-left:40px; */
  overflow: hidden;
  /* border: solid 1px red; */
  /* margin-top: 200px; */

  /* background: #12566f; */
}

#svgOverlay {
  background: rgba(0, 206, 209, 0.242);

}

#SVG3rdFloor {
  margin-top: -400px;
  margin-left: -80px;
}

.subject-display>.background-image {
  pointer-events: all;
  top: 0;
  position: absolute;
  /* z-index: 3; */
  opacity: .3;
  object-fit: fill;
  height: 300px;

}

.subject-display>.background-image-2 {

  bottom: -60px;
  position: absolute;
  /* z-index: 3; */
  /* opacity: .3; */
  /* object-fit: fill; */

  filter: blur(1px);
  -webkit-filter: blur(1px);
  animation-name: animateBackdropMidlevel;
  animation-duration: 1s;
}

@keyframes animateBackdropMidlevel {
  0% {
    opacity: 0;
    /* opacity: .2; */
    /* bottom:-100px; */
  }

  20% {
    opacity: .2;
  }
}

#subjectContainer {
  visibility: hidden;
  pointer-events: all;
  /* touch-action: pan-right pinch-zoom; */
  background: rgba(244, 244, 244, 0.276);
  display: grid;
  width:100%;
  grid-template-columns: repeat(3, 360px);
  /* grid-template-columns: minmax(360px, max-content) repeat(2, 360px); */

  grid-template-rows: repeat(6, 1fr);

  /* overflow: scroll; */
  cursor: grab;
  width: calc(var(--right-tile-width) - 30px);
}

@keyframes animateTest {
  0% {

    opacity: 0;
    /* opacity: .2; */
    /* bottom:-60px; */
  }

  20% {
    transform: perspective(700px) rotateX(12deg) translateY(-400px);
    opacity: .5;
  }
}



.subject-display>.background-image-2.eye-level {
  bottom: -100px;
  animation-name: animateBackdropEyelevel;
  animation-duration: 1s;
}

@keyframes animateBackdropEyelevel {
  0% {
    opacity: 0;
    /* opacity: .2; */
    /* bottom:-60px; */
  }

  20% {
    opacity: .2;
  }
}


.subject-display-image {
  object-fit: scale-down;
  height: 300px;
}

#chairImage {
  object-fit: scale-down;
  /* opacity: .8; */
  height: 300px;
}

.top-fit {
  object-fit: scale-down;
  /* opacity: .8; */
  height: 300px;
}


.splashSubjectContainer>.description {
  /* position: absolute;
  bottom : 0; */
  max-width: 300px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  color: #12566f;
  /* color:yellow; */
 
}
.description {
  color: #0c3645;
  padding:0;
  margin: 10px;
  
}


#githubSymbol2 {
  margin-left: 20px;
  color: inherit;
}

#githubSymbol2>a {
  font-family: 'Quicksand', sans-serif;
  font-size: smaller;
  color: inherit;
}

.splashHeading {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.482);
  align-self: center;
}

.center {
  text-align: center;
}

#pilotHouseImage.fade {
  animation-name: animateImageFade;
  animation-duration: 2s;
}

#chairImage.fade {
  animation-name: animateImageFade;
  animation-duration: 2s;
}

@keyframes animateImageFade {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

#pilotHouseImage.kenBurnsEffect {
  position: absolute;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: 0%;
  animation-name: animateKenBurnsEffect;
  animation-duration: 6s;
  opacity: 0;
}


@keyframes animateKenBurnsEffect {
  0% {
    opacity: 0;
  }

  20% {
    object-position: 0%;
    opacity: 1;
  }

  100% {
    object-position: 60%;
    opacity: 1;
  }
}

